#titulo{
color: #7e2a62;
text-align: center;

}

#gentegrande{
text-align: center;

}

h1{
    text-align: center;
    color: #7e2a62;

}
.imagem-zoom{
    width: 210px;
    height: auto;
    transition: transform 0.3s;
}
.imagem-zoom:hover{
    transform: scale(1.2);
}
header {
    background: #ebe3da;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

header a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}
header a:hover {
    text-decoration: underline;
    color: darkred;
    text-decoration: underline;
}
.imagem-zoom{
     width: 210px;
     height: auto;
     transition: transform 0.3s;
}
.imagem-zoom:hover{
     transform: scale(1.2);
}
