h2{
    color:  #7e2a62;
    text-align: center;

}

header {
    background: #ebe3da;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

header a {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
}
header a:hover {
    text-decoration: underline;
    color: darkred;
    text-decoration: underline;
}
.imagem-zoom{
    width: ;
    height: 330px ;
    transition: transform 0.3s;
}
.imagem-zoom:hover{
    transform: scale(1.2);
}
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 500px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   